{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<h1>{{ 'Ce texte est rendu par Twig' }}</h1>

{% verbatim %}
  <div id="app">
    {{ 'Ce texte est rendu par Vue.js' }}
  </div>
{% endverbatim %}

{{ form_start(form, {
    'attr': {'id': 'formAdd'}
}) }}

{{ form_row(form.name) }}

<button type="submit" class="btn btn-success">Envoyer</button>
{{ form_end(form) }}


<script>
  const urlAPI = "{{ path('api_add_tag') }}"
</script>

{{ encore_entry_script_tags('api_tag') }}

{% endblock %}