{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

{# <astuces></astuces> #}
<accueil urlalltips="{{ urlAllTips }}" tips="{{ tips }}"></accueil>
{# <profil></profil> #}
{# <une-astuce/> #}

{# </div> #}


{# {{ form_start(form) }}
{{ form_end(form) }} #}


{# {% set tagsArray = [] %}
{% for tag in tags %}
  {% set tagsArray = tagsArray|merge([ {id: tag.id, name: tag.name}]) %}
{% endfor %} #}



{# <tag tags-obj="{{ tagsArray | json_encode }}" urls-obj="{{ urls | json_encode }}" view="{{ view }}"></tag> #}

{# {{ encore_entry_script_tags('api_tag') }} #}

{% endblock %}